.navbar{
    background-color: paleturquoise;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li {
    background-color: paleturquoise;
    text-align: center;
}
.text-center {
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content {
    height: 1000px;
    margin: 10px 10px 10px 10px;
    background-color: darkseagreen;
    border: border-box;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    padding: 15px 15px 35px 35px;
    
}
h3 {
    font-weight: bold;
    text-align: center;
    
}
