* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background color: black;}

h1 {
  margin-bottom: 5px;
  text-align: center;
  margin-bottom: auto;
  font-size: 64px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}
h2 {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkslategray;
}
h4 {
  border: 1px solid black;
  padding: 10px;
  padding-left: 30px;
  padding-right:30px;
  float: right;
  position: static;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: auto;
  text-align: center;
  font-size: 26px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

p {
  background-image: url(https://i.imgur.com/4Xy2Xt1.jpg);
  background-position: center;
  background-size: 40%;
  border: 2px solid black;
  position: static;
  width: 100%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 22px;
  padding: 42px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.power{
  background-color: darkred;         
  color: orange;
  }
.wisdom{
  background-color: goldenrod;
  color: black;  
 }
.courage{
  background-color:#17165d;
  color: lightcyan;   
}
.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
  { 
    float: right;
    padding: 15px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
    padding: 15px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
    float: right;
    padding:15px;
  }
  .col-mb-1 {
    width: 8.33%;
  }
  .col-mb-2 {
    width: 16.66%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.33%;
  }
  .col-mb-5 {
    width: 41.66%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-11 {
    width: 58.33%;
  }
  .col-mb-8 {
    width: 66.66%;
  }
  .col-mb-9 {
    width: 74.99%;
  }
  .col-mb-10 {
    width: 83.33%;
  }
  .col-mb-11 {
    width: 91.66%;
  }
  .col-mb-12 {
    width: 100%;
  }
}
